.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter {
    display: flex;
    border: 0.5px solid black;
    
}

.decrease {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    cursor: pointer;
}

.count {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.increase {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    cursor: pointer;
}